.container {
    font-size: 3rem;;
}

.header {
    justify-content: space-evenly;  
    background-color:  #BF4E55;
}
  
.header_top {
    display: flex;
    height: 12vh;
    margin-top: 2vh;
    color: #BF4E55;
    margin-bottom: 2vh;
}
  
.address_top {
    padding-left: 3vw;
    width: 30vw;
    font-size: 0.7em;
    text-align: center;
}
  
.company_name {
    margin-top: -3vh;
}
  
.logotype {
    display: flex;
    width: 50vw;
}

  
.our_name {
    font-size: 1em;
    
}
  
.header_wrapper {
    font-family: 'Arsenal', sans-serif;
}
  
.slogan {
    font-size: 0.6em;
}
  
.contacts {
    display: flex;
    font-size: 0.6em;
    padding-right: 3vw;
    padding-left: 3vw;
}
  
.phone {
    margin-left: 1vw;
}
  
.phone_number {
    margin-top: 2.5vh;
    margin-left: 5vw;
    display: grid;
}

.logo {
    height: 13vh;
    margin-top: -1vh;
    object-fit: contain;
    width: 10vw;
}

.symbol {
    color: '#BF4E55';
    font-size: 0.7rem;
}

.envelope {
    color: '#BF4E55';
    font-size: 0.7rem;
    margin-top: 2em;
}

.menu__item {
    color: white;
    background-color:  #BF4E55;
}

.menu__active {
    background-color:  #BF4E55
}

