.cartPic {
    height: 10vh;
}

.bouquetName {
    display: grid;
}

.order__wrap {
    display: grid;
    grid-template-columns: 5fr 3fr 3fr 2fr;
    padding: 10px 10px 10px 10px;
}

.bouquetPic {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.quantity {
    display: flex;
}

.button__quantity {
    width: 3vw;
}


.count__input {
    height: 6vh;
    border-radius: 3px;
    width: 7vw;
    text-align: center;
}

.count__input::-webkit-inner-spin-button {
    appearance: none;
}
.count__input::-webkit-outer-spin-button {
    appearance: none;
}

.control {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addings {
    font-size: small;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    color: black;
}