.bouquetWrapper {
    display:block;
    padding: 20px 10px 10px 20px;
}

.sum {
    grid-column-start: 2;
}

.table__footer {
    display: grid;
    grid-template-columns: 5fr 3fr 5fr;

}

.cart__header {
    text-align: center;
}

.table__header {
    display: grid;
    grid-template-columns: 5fr 3fr 2fr 3fr;
    margin-bottom: 4vh;
}