#add_cart_btn, #add_cart_btn:hover {
  background-color: #bf4e55
}

#btn_group {
  color: #bf4e55;
  font-weight: bolder
}

#btn_group:hover {
  border-color: #bf4e55;
}

#counter {
  color: black;
  background-color: white;
  cursor: auto;
}