img {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}

.product_card {
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product_card__title {
  margin-top: 0.5rem;
}
