.orderFormWrapper {
  display: flex;
}

.orderForm {
  display: flex;
  flex-direction: column;
}

.deliveryTimeContainer,
.deliveryContainer,
.deliveryRadioContainer {
  display: flex;
  flex-direction: column;
}